html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    }
body {
    background-color: #F0F0F0;
    font-family: 'Titillium Web', sans-serif;
    color: #999;
    background: linear-gradient(33deg, #000000 0%, #eea033 100%)
}
#board {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    }
.card {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 1%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
    background-size: cover;
    transform: translateX(-50%) translateY(-50%) scale(0.95);
    transition: left 400ms ease;
    }
.fa {
    position: relative;
    display: table-cell;
    width: 70px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size:40px;
    color: #eea033;
}
.fa-arrow-down {
    width: 25px;
    height: 25px;
}
.fa-arrow-down::before {
    width: 25px;
    height: 25px;
    margin-top: 7px !important;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.container {
    width: 60vw;
	height: 60vh;
	overflow: hidden;
	background: #212121;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    padding: 20px;
}

.container>img {
    float: right;
    margin: 10px;
}

.container>h1 {
    color: #eea033;
}

.main-menu:hover,nav.main-menu.expanded {
    width:250px;
    overflow:visible;
}

.main-menu {
    background:#212121;
    border-right:1px solid #e5e5e5;
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:90px;
    overflow:hidden;
    transition:width .1s linear;
    transform: translateZ(0) scale(1,1);
    z-index:1000;
}

.main-menu>ul {
    margin:7px 0;
}

.main-menu li {
    position:relative;
    display:block;
    width:250px;
}

.main-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#999;
    font-family: arial;
    font-size: 30px;
    text-decoration:none;
    transform: translateZ(0) scale(1,1);
    transition:all .1s linear;
  
}

.main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:80px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}

.main-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    padding-left: 20px;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

a:hover,a:focus {
    text-decoration:none;
}

nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
}
.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color:#000000;
}
.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
.fa::before {
    position: fixed;
    margin-top: 4vh;
}

.conversation-list {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: 0;
    position: fixed;
    right: 0;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    background-color: #212121;
    overflow: auto;
}

.single-conversation {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #cccccc;
}

.avatar {
    height: 70px;
    width: 70px;
    margin-right: 15px;
    border-radius: 50%;
}

.conversation-details {
    flex: 1;
}

.conversation-details h4 {
    margin: 0;
}
.show-more {
    text-align: center;
    padding: 10px;
    font-family: arial;
}
.show-more>a {
    font-size: 20px;
    text-decoration:none;
}
.description {
    width: 500px;
    height: 100px;
    position: absolute;
    top: 70%;
    left: 50%;
    border-radius: 1%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
    background-size: cover;
    transform: translateX(-50%) translateY(-50%) scale(0.95);
}
.single-conversation:hover {
    color:#fff;
    background-color:#000000;
}
.conversation-details>h4 {
    color: #eea033;
}
.hide-conversations {
    position: fixed;
    top: 0;
    right: 0;
    min-height: 30px;
    width: 377px;
    background-color: #212121;
}
.social-media {
    width: 30vw;
    min-width: 330px;
	height: 70vh;
	overflow: hidden;
	background: #212121;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.social-icons {
    width: 14vw;
    height: 15vh;
    font-size: 9vw;
    display: flex;
    justify-content: center;
    flex: 1 0 48%;
}

.social-icons::before {
    width: 15vh;
    height: 15vh;
    display: contents;
}
.social-h1 {
    width: 100%;
}
#conversationList {
    transition: top 0.3s ease-in-out;
  }
